/* general body style. */
body, html {
  height: 100%;
  margin: 0;
}

/* default font for the site. */
.site-font {
  font-family: 'Baloo 2', sans-serif;
}

/* override the color scheme of the buttons. */
.btn-primary,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
  border-color: rgb(115, 115, 115);
  background-color: rgba(226, 226, 226, 0.8);
  color: rgb(85, 85, 85);
  box-shadow: none;
}

.btn-primary:hover {
  border-color: rgba(92, 92, 92, 0.8);
  background-color: rgba(92, 92, 92, 0.8);
  color: white;
}

/* custom navbar styles. */
.navbar-custom {
  background-color: rgba(80, 80, 80, 0.8);
  font-size: 17px;
}

.dropdown-custom {
  background-color: rgba(80, 80, 80, 0.8);
  color: white;
}

.dropdown-option {
  color: white;
  top: -250px;
}

#title-background {
  border-style: solid;
  border-color: white;
  border-width: 1px;
  border-radius: 5px;
  font-size: 0.8em;
  padding-left: 1%;
}

/* styles for the about section. */
.about {
  background-image: url("./images/about.jpg");
  background-color: rgba(255, 255, 255, 0.4);  /* use semi-transparent white for opacity. */
  background-blend-mode: lighten; /* blend image with background color. */
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#about-top {
  width: 25%;
  height: 10%;
  position: absolute;
  margin-top: 23%;
  margin-left: 10%;
  background-image: url("./images/aboutme.jpg");
  background-color: rgba(255, 255, 255, 0.6);  
  background-blend-mode: lighten; 
  border-radius: 5px;
}

#about-top-content {
  width: 95%;
  height: 85%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  border-radius: 5px;
  border-style: solid;
  border-color:rgba(80, 80, 80, 0.6);
  padding-top: 2%;
  padding-left: 3%;
  color:rgba(92, 92, 92, 0.6);
  font-size: 20px;
}

#about-middle {
  width: 60%;
  height: 37%;
  position: absolute;
  margin-top: 27%;
  margin-left: 20%;
  background-color:rgb(78, 78, 78, 0.2);
  border-radius: 20px;
}

#about-middle-content {
  width: 95%;
  height: 96%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  border-radius: 20px;
  border-style: solid;
  border-color: rgb(245, 245, 245, 0.9);
  color:rgba(92, 92, 92, 0.8);
  padding-left: 3%;
  padding-top: 4%;
}

#about-bottom {
  width: 130px;
  height: 130px;
  position: absolute;
  margin-top: 46%;
  margin-left: 74%;
  background-color: white;
  border-radius: 50%;
}

#about-image {
  width: 115px;
  height: 115px;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  background-image: url("./images/pic.png");
  background-position: center;
  background-size: cover;
}

#about-links {
  text-align: center;
}

.about-button {
  margin-right: 5%;
  color:rgba(92, 92, 92, 0.8);
}

/* styles for the projects section. */
.projects {
  background-image: url("./images/projects.jpg");
  background-color: rgba(255, 255, 255, 0.6);  
  background-blend-mode: lighten; 
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 8%;
  padding-bottom: 3%;
  padding-left: 15%;
  padding-right: 15%;
}

.project-intro {
  background-image: url("./images/mitlogo.png");
  background-position: center;
  background-repeat: no-repeat;
  /* background-color:rgb(126, 33, 33, 0.9); */
  background-color:rgba(80, 80, 80, 0.6);
  background-blend-mode: difference;
  color: white;
}

.card-custom {
  width: 95%;
  height: 110%;
  scroll-margin-top: 100px; /* add this for some buffer on top when jumping to the cards thru navbar */
}

.card-body-custom {
  margin-left: 4%;
}

.card-small-text {
  font-size: 12px;
  font-style: italic;
}

.card-button {
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 5px;
  margin-left:15px;
}

/* styles for the more section. */
.more {
  background-color: rgb(248, 248, 248);
  height: 100%;
  padding-top: 5%;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 5%;
}

#more-background {
  width: 100%;
  height: 100%;
  background-image: url("./images/more.jpg");
  border-radius: 20px;
  padding-top: 3%;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 3%;
}

#more-intro {
  color: rgb(78, 78, 78);
  font-family: 'Cabin Sketch', cursive;
  font-size: 25px;
}

.more-card {
  width: 100%;
  height: 100%;
  scroll-margin-top: 100px;
}

.more-img {
  width: 10em;
  height: 10em;
}

.more-button {
  margin-right: 8px;
}

/* styles for the contact section. */
.contact {
  background-image: url("./images/contact.jpg");
  background-color: rgba(255, 255, 255, 0.6);  
  background-blend-mode: lighten; 
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.contact-item {
  width: 60%;
  height: 13%;
  position: absolute;
  background-color: transparent;
  display: grid;
  grid-template-columns: 1fr 7fr;
}

.contact-image {
  width: 5em;
  background-color: white;
  border-radius: 50%;
}

#linkedin-image-background {   /* special styling for the LinkedIn logo legal requirement. */
  width: 4em;
  height: 4em;
  background-color: white;
}

.linkedin-image {
  background-color: transparent;
  border-radius: 0%;
}

.contact-info {
  padding-top: 2%;
  padding-left: 2%;
  font-size: 2em;
  color:rgba(80, 80, 80, 0.9);
}

.contact-info:hover {
  color: white;
  text-shadow:
    0 0 0.1em rgb(243, 242, 242),
    0 0 0.2em rgb(233, 233, 233),
    0 0 0.3em rgb(219, 218, 218),
    0 0 0.4em rgb(187, 187, 187),
    0 0 0.5em rgb(139, 139, 139),
    0 0 0.6em rgb(102, 102, 102),
    0 0 0.7em rgb(5, 5, 5); /* neon effect. */
}

#contact-email {
  margin-top: 17%;
  margin-left: 31%;
}

#contact-github {
  margin-top: 25%;
  margin-left: 40%;
}

#contact-linkedin {
  margin-top: 35%;
  margin-left: 32%;
}

